body {
  margin: 0;
  font-family: 'Arial', sans-serif; /* Use a font commonly associated with tech or military themes */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: rgba(64, 64, 64, 0.9); /* Dark blue background color */
  color: white;
  padding: 1em;
  text-align: center;
  border-bottom: 2px solid #fff; /* Add a white border at the bottom */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0; /* Remove default margin */
}

nav li {
  display: inline;
  margin: 0 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold; /* Make the links bold */
  text-transform: uppercase; /* Convert text to uppercase */
  letter-spacing: 1px; /* Increase letter spacing */
  transition: color 0.3s; /* Add a smooth color transition */
}

nav a:hover {
  color: #ffcc00; /* Change color on hover */
}

.footer {
  background-color: rgba(34, 34, 34, 0.8); /* Dark gray with opacity */
  color: white; /* Text color */
  padding: 1em; /* Padding for content */
  text-align: center; /* Center align text */
  bottom: 0; /* Stick to the bottom of the viewport */
  width: 100%; /* Full width */
}

.order-title, .news-header {
  color: white; /* White text */
  font-family: 'Arial', sans-serif; /* Futuristic font */
  font-size: 36px; /* Font size */
  text-align: center; /* Center align text */
  text-shadow: 0 0 5px white, 0 0 10px white; /* White outer glow */
  letter-spacing: 2px; /* Spacing between letters */
  line-height: 1.5; /* Line height */
  padding: 20px; /* Padding for content */
  background-color: rgba(0, 0, 0, 0.7); /* Black opaque background */
  margin-top: 0px;
}


.order-brief, .news-block {
  color: white; /* White text */
  font-family: 'Arial', sans-serif; /* Futuristic font */
  font-size: 18px; /* Font size */
  text-align: center; /* Center align text */
  text-shadow: 0 0 5px white, 0 0 10px white; /* White outer glow */
  letter-spacing: 1px; /* Spacing between letters */
  line-height: 1.5; /* Line height */
  padding: 10px; /* Padding for content */
}

.order-task {
  color: white; /* White text */
  font-family: 'Arial', sans-serif; /* Futuristic font */
  font-size: 30px; /* Font size */
  text-align: center; /* Center align text */
  text-shadow: 0 0 5px white, 0 0 10px white; /* White outer glow */
  letter-spacing: 1px; /* Spacing between letters */
  line-height: 1.5; /* Line height */
  padding: 10px; /* Padding for content */
}

.news-block {
  padding: 0 0 100px 0;
}

.order-div, .news-text {
  padding: 0 200px;
}

.news-text {
  color: white; /* White text */
  font-family: 'Arial', sans-serif; /* Futuristic font */
  font-size: 18px; /* Font size for the text */
  text-align: center; /* Center align text */
  text-shadow: 0 0 5px white, 0 0 10px white; /* White outer glow */
  letter-spacing: 1px; /* Spacing between letters */
  line-height: 1.5; /* Line height */
  padding: 10px 200px; /* Padding with more space on the left and right */
  display: inline-block; /* Ensures padding is respected */
}
